In [2]:
# Step 1: Import libraries
import pandas as pd
import numpy as np

In [3]:

# Step 2: Load dataset (replace path with your CSV file path)
df = pd.read_csv("E:\Mentorbaba Academy/health_assessment.csv")
df

      Age  ExerciseHours  SleepHours  CaloriesIntake        BMI  BloodPressure
0      52              6           4            2996  34.877886            153
1      53              3           4            2940  20.235315            125
2      70              7           9            1804  22.670436            151
3      61              4           6            2235  24.707793            131
4      62              6           8            3838  25.171079            131
...   ...            ...         ...             ...        ...            ...
1020   59              4           8            1682  33.136962            142
1021   60              9           4            3074  30.749623            149
1022   47              3           7            1896  33.439884            123
1023   50              5           5            3227  30.898160             93
1024   54              6           8            3017  28.151640            106

[1025 rows x 6 columns]

In [4]:
df.head()

   Age  ExerciseHours  SleepHours  CaloriesIntake        BMI  BloodPressure
0   52              6           4            2996  34.877886            153
1   53              3           4            2940  20.235315            125
2   70              7           9            1804  22.670436            151
3   61              4           6            2235  24.707793            131
4   62              6           8            3838  25.171079            131

In [5]:
# df.shape is basically telling  “my dataset has X rows and Y columns.
print(df.shape)

(1025, 6)

In [6]:
#checking is there any null values in dataset
df.isnull().sum()

Age               0
ExerciseHours     0
SleepHours        0
CaloriesIntake    0
BMI               0
BloodPressure     0
dtype: int64

In [7]:
# Step 3: Features (X) and Targets (y1, y2)
X = df[["Age", "ExerciseHours", "SleepHours", "CaloriesIntake"]]
y_bmi = df["BMI"]
y_bp = df["BloodPressure"]
print(y_bmi)

0       34.877886
1       20.235315
2       22.670436
3       24.707793
4       25.171079
          ...
1020    33.136962
1021    30.749623
1022    33.439884
1023    30.898160
1024    28.151640
Name: BMI, Length: 1025, dtype: float64

In [8]:

# Step 4: Normalize features
X_minmax = (X - X.min()) / (X.max() - X.min())
print(X_minmax.head())

        Age  ExerciseHours  SleepHours  CaloriesIntake
0  0.479167       0.666667         0.0        0.599198
1  0.500000       0.333333         0.0        0.576754
2  0.854167       0.777778         1.0        0.121443
3  0.666667       0.444444         0.4        0.294188
4  0.687500       0.666667         0.8        0.936673

In [9]:
# train_test_split 
from sklearn.model_selection import train_test_split

# For BMI
X_train_bmi, X_test_bmi, y_train_bmi, y_test_bmi = train_test_split(X, y_bmi, test_size=0.2, random_state=42)

# For BP
X_train_bp, X_test_bp, y_train_bp, y_test_bp = train_test_split(X, y_bp, test_size=0.2, random_state=42)

In [10]:
# importing linear regression model
from sklearn.linear_model import LinearRegression
# For BMI
X_train_bmi, X_test_bmi, y_train_bmi, y_test_bmi = train_test_split(X, y_bmi, test_size=0.2, random_state=42)

# For BP
X_train_bp, X_test_bp, y_train_bp, y_test_bp = train_test_split(X, y_bp, test_size=0.2, random_state=42)

# Train separately
bmi_model = LinearRegression().fit(X_train_bmi, y_train_bmi)
bp_model  = LinearRegression().fit(X_train_bp, y_train_bp)

In [11]:
# Step 7: Predictions
y_bmi_pred = bmi_model.predict(X_test)
y_bp_pred = bp_model.predict(X_test)

NameError: name 'X_test' is not defined

In [ ]:
# Step 8: Evaluation
from sklearn.metrics import mean_squared_error
print("\n--- Model Performance ---")
print(f"BMI -> RMSE: {np.sqrt(mean_squared_error(y_test_bmi, y_bmi_pred)):.2f}")
print(f"Blood Pressure -> RMSE: {np.sqrt(mean_squared_error(y_test_bp, y_bp_pred)):.2f}")

In [ ]:
# Step 9: Health tips function
def health_tips(bmi, bp):
    tips = []
    if bmi > 25:
        tips.append("⚠️ Maintain a balanced diet and exercise regularly to lower BMI.")
    else:
        tips.append("✅ Your BMI is in a healthy range.")

    if bp > 130:
        tips.append("⚠️ Reduce salt intake and manage stress to lower blood pressure.")
    else:
        tips.append("✅ Your blood pressure is normal.")

    return tips

In [ ]:
# Testing the output giving input values
precautions = health_tips(55, 129)
print(f"Precautions to be taken: {precautions}")

In [13]:

# Step 10: Test with a new person (simple version)
# Data format -> [Age, ExerciseHours, SleepHours, CaloriesIntake]
new_person = [[7, 7000, 2200,100]]

# Predict BMI and Blood Pressure
pred_bmi = bmi_model.predict(new_person)[0]
pred_bp = bp_model.predict(new_person)[0]

print("\n--- New Person Prediction ---")
print("Predicted BMI:", round(pred_bmi, 2))
print("Predicted Blood Pressure:", round(pred_bp, 2))

--- New Person Prediction ---
Predicted BMI: 148.43
Predicted Blood Pressure: 2015.19

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(